/* Some styles for the KWIC */

body {
  overflow: hidden;
}

div.kwic-entry {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dotted blue;
    display: block;
    height: 24px;
    position: relative;
    text-align: center;
}

span.kwic-entry-text {
    display: inline-block;
    text-align: center;
    max-width: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: blue;
    text-decoration: underline;
}

span.kwic-preceding {
    display: block;
    text-align: right;
    position: absolute;
    left: 0px;
    top: 0px;
}

span.kwic-following {
    display: block;
    text-align: left;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* And for notes */

span.noteref {
    font-size: 70%;
    position: relative;
    bottom: 3px;
    color: blue;
    background-color: inherit;
}

/* and corresp */

div[corresp] {
    border-right: 8px solid blue;
    margin-right: 2px;
    padding-right: 2px;
}
