<html>
  <head>
    <script>
      <%= @callback %>(<%= {
        :response => {
          :status => @status,
          :errors => @record.errors.to_smartclient,
          :data => @record
        }
      }.to_json(@tojson_options || {}) %>)
    </script>
  </head>
  <body>
  </body>
</html>
